{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h1 class="text-center">Cursos que ministro</h1>
            <hr style="height: 1px; color: black; background-color: black;" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Cursos</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in course_list %}
                    <tr>
                        <td>{{ c.id }} - {{c.name}}</td>
                        <td><a href="{% url 'course_students' c.id %}">Ver alunos</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}